@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Playwrite+AU+QLD:wght@100..400&family=WDXL+Lubrifont+TC&display=swap');


body {
    font-family: 'Dongle', sans-serif;
    background: #f4f4f4 url('./assets/hand.jpg') no-repeat center center fixed;
    background-size: 50% ;
    background-color: #eee;
    margin: 0;
    padding: 0;
}

.App {
    max-width: 600px;
    margin: 40px auto;
    background: pink;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

header {
    text-align: center;
}

.user-list {
    margin-top: 10px;
}

.user-btn {
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
    background: palevioletred;
    border: none;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow:4px 5px rgba(0, 0, 0, 0.6) ;
}

.user-btn:hover {
    background: rgba(0, 0, 0, 0.747);
}

.user-btn.active {
    background: #333;
    color: #fff;
}

.bucket-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.bucket-form input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

.bucket-form button {
    padding: 10px 20px;
    font-size: 16px;
}

.bucket-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bucket-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 8px 0;
}

.bucket-item input {
    flex: 1;
    padding: 8px;
    margin-right: 8px;
}

.btns button {
    margin-left: 8px;
}

.empty-msg {
    text-align: center;
    color: #888;
}